body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #a8dadc;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  background-color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.player-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.player-image {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.player-image img {
  display: none;
}

.team-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  object-fit: contain;
  border-radius: 50%;
}

.player-card h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #f4f4f4;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.player-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #457b9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.load-more-button:hover {
  background-color: #1d3557;
  transform: scale(1.05);
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #1da1f2;
}
